# https://vercel.com/docs/storage/vercel-postgres
POSTGRES_URL=40.112.165.245
POSTGRES_USER=inky
POSTGRES_PASSWORD=}Ab}N^vLn7Z.+.>
POSTGRES_HOST=40.112.165.245
POSTGRES_DATABASE=gritmakerdb

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

# https://next-auth.js.org/providers/github
OAUTH_CLIENT_KEY=
OAUTH_CLIENT_SECRET=
